@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Lalezar');

:root {
     font-family :"Courier New", Courier, monospace ;
	 color: blue;
}

body {
     background-color: black;
     max-width: 980px;
	 margin: auto;
}

header p {
     width:100%;
     font-size: 3rem;
     text-align: center;
     margin: 0;
	 color: white;
	 border-bottom: 1px solid white;
	 margin-top: 10px;
	 text-shadow: 1px 1px 20px aqua;
}

nav ul.menu {
     font-size:28px;
     max-width:100%;
     margin-top: 10px;
     display: flex;
     align-items: center;
     flex: 1;
     margin-bottom: 15px;
     justify-content: space-around;	
	 box-shadow: 1px 1px 20px aqua;
}

nav ul.menu li {
     list-style: none;
	 
}

nav ul.menu li a {
     font-family: "Lucida Console", Monaco, monospace;
     text-decoration: none;
	 color: aqua;
	 text-shadow: 1px 1px 20px aqua;
}

#slider-container {
     display: flex;
	 justify-content: center;
}

.slider {
  width: 450px;
  height: 206px;
  overflow: hidden;
  border: 1px solid black;
}

.slide {
  width: 450px;
  height: 206px;
  float: left;
  position: relative;
}

.slide-holder {
  width: 400%;
  position: relative;
  left: 0;
  -webkit-animation: scroller 10s infinite;
          animation: scroller 10s infinite;
}

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
  }
  66% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scroller {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
  }
  66% {
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slide:nth-child(1) {
  background: #c69;
}

.slide:nth-child(2) {
  background: wheat;
}

.slide:nth-child(3) {
  background: #eee;
}
                                    //=====content=====
	
#content {
	width:100%;
	background:#f2f2f2;
}
.img-border {
	border:#fff 8px solid;
}
.box-1 {
	overflow:hidden;
	padding:40px 0 34px;
}
.box-1 img {
	float:left;
	margin-top:-3px;
}
.box-1 h2 {
	margin-bottom:8px;
}
.box-2 {
	background: url(../img/line-1.gif) 0 0 repeat-x #f6f6f6;
}
.box-2>div {
	background: url(../img/back.jpg) 0 bottom repeat-x;
	padding:15px 0 36px 0;
	font-size: 2rem;
	color: white;
	text-align:center;
}
.box-2>div p.text-4 {
	margin-top:-7px;
}
.box-3 {
	overflow:hidden;
	padding:12px 0 0 0;
}
.box-3>div {
	width:180px;
	float:left;
	margin-right:25px;
}
.box-3>div a.link-2 {
	display:inline-block;
	margin:15px 0 6px 0;
}
.box-4 {
}
.date {
	overflow:hidden;
}
.date strong {
	display:inline-block;
	background:url(../img/date.png) 0 0 no-repeat;
	width:51px;
	height:53px;
	float:left;
	margin-right:5px;
	font-weight:normal;
	color:#000;
	font-size:40px;
	line-height:48px;
	text-align:center;
}
.date span {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-style:italic;
	color:#000;
	font-size:20px;
	line-height:24px;
	display:inline-block;
	overflow:hidden;
	margin-top:21px;
}
.box-5 {
	overflow:hidden;
	padding-top:8px;
}
.box-5 img {
	margin:4px 10px 0 0;
}
.box-6 {
	overflow:hidden;
	margin-top:13px;
}
.box-6>div {
	width:290px;
	float:left;
	margin-right:35px;
}
.box-6 a.link-2 {
	display:inline-block;
	margin-bottom:3px;
}
.box-7 {
	overflow:hidden;
	margin-top:10px;
}
.box-7>div {
	width:290px;
	float:left;
	margin-right:35px;
}
.box-7 a.link-2 {
	display:inline-block;
	margin-bottom:3px;
}
/****************************footer************************/
footer {
	width:980px;
	overflow:hidden;
	margin:0 auto;
	padding:31px 0px 20px 0;
}
footer p {
	float:left;
	text-align:center;
	width:580px;
}
.soc-icons {
	overflow:hidden;
	float:right;
	margin:8px 73px 0 0;
}
.soc-icons span {
	display:inline-block;
	float:left;
	color:#000;
	font-size:20px;
	line-height:27px;
	margin-right:17px;
}
.soc-icons a {
	display:inline-block;
	float:left;
	margin-right:19px;
}
.soc-icons a:hover img {
	opacity:0.7;
}



























